body {
    margin: 0px;
    padding: 0px;
}

#background {
    background: #333 url(background.jpg);
    text-align: center;
    margin-top: -20px;
    padding-top: 10px;
    height: 800px;
    display: block;
}

.restart {
    background: url(restart.jpg);
    display: inline-grid;
    height: 35px;
    width: 35px;
    margin-top: 20px;
    border: 20px;
}

h1 {
    color: darkblue;
}

h2 {
    color: darkblue;
}

.container {
    padding: 4px;
    display: inline-block;
    background-color: #ffffff;
    width: 200px;
    height: 200px;
    border: 2px black solid;
    border: 2px solid rgb(204, 204, 204);
    border-radius: 3px 3px 3px 3px;
    -webkit-box-shadow: 6px 5px 8px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 6px 5px 8px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 6px 5px 8px 0px rgba(50, 50, 50, 0.75);

}

.figure {
    border: 2px #fff solid;
    background: yellow;
    margin: 0px;
    padding: 0px;
    display: inline-block;
    box-shadow: 2px 2px 2px rgb(136, 136, 136);
    margin: 2px;
    margin-bottom: -2px;

}

.figure:hover {
    cursor: pointer;

}

.active {
    background-color: greenyellow;

}

.fout {
    background-color: yellow;
}

.circle {

    width: 100px;
    height: 100px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
}
